<form action="/add" method="POST">
    <p>Título</p>
    <input type="text" name="titulo">
    <p>Conteúdo</p>
    <textarea name="coteudo"></textarea>
    <button type="submit">Cadastrar post</button>
</form>